.all_tiles
{
  margin: 0px 0px 0px 0px;
  padding: 20px;
  width: 100%;
  background: linear-gradient(to bottom, #009999 0%, #99ff33 100%);
}
.tile {
  display: block;
  height: auto;
  padding: 4px;
  margin: 5px 5px 5px 5px;
  line-height: 1.42857143;
  background-color: #eefe;
  border: 1px solid #111;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}
